{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/likerecruteurfrontpage.css') }}" rel="stylesheet">
{% endblock %}

{% block title %}Hello LikeFrontController!{% endblock %}

{% block body %}
    {% include 'navbar_candidat/index.html.twig' %}

    <h1 class="text-center text-like font-weight-bolder pb-4"><img
                src="{{ asset('image/icon_Recru.png') }}" alt="iconerecruteur">&#8226; Likes</h1>

    {# Début Zone des Matchs#}
    <div class="border-bottom-0 border-top-0 border-right-0 match-border-color rounded"
         style="background-color: #f9f9f9;">
        <div class="card-header font-weight-bolder zonetitle">
            <img src="{{ asset('image/puzzle_match_icon.png') }}" alt="" class="iconmatch"> Vos Matchs
        </div>

        <!-- Début cards section -->

        <div class="card-deck pl-2 w-25">
            {% for match in matchs %}
                <div class="card mt-2 mb-2">
                    <img src="{{ match.candidat.membre.photoProfil }}"
                         class="card-img-top img-responsive rounded-circle border border-primary mt-2  pt-1 pb-1 pr-1 pl-1 mx-auto"
                         alt="...">
                    <div class="card-body">
                        <h5 class="card-title text-center">{{ match.candidat.membre.nom }} {{ match.candidat.membre.prenom }}</h5>
                        <h6 class="card-title text-center font-weight-light text-black-50">{{ match.candidat.metier }}</h6>
                        <h6 class="card-title text-center font-weight-light text-black-50">{{ match.candidat.membre.ville }}, {{ match.candidat.membre.pays }}</h6>
                        <p class="card-text text-center">This is a longer card with supporting text below as a natural
                            lead-in to
                            additional content. This content is a little bit longer.</p>
                        <p><a href="#" role="button"><i class="fas fa-plus-square fa-2x"></i></a></p>
                    </div>
                </div>
            {% endfor %}
        </div> <!-- Fin container cards -->
        <!-- Fin cards section-->
    </div>
    {# Fin Zone des Matchs#}

    {# Début Zone Ils vous ont liké#}
    <div class="mt-3 border-bottom-0 border-top-0 border-right-0 match-border-color rounded"
         style="background-color: #f9f9f9;">
        <div class="card-header font-weight-bolder zonetitle">
            <img src="{{ asset('image/match_icon.png') }}" alt="" class="iconmatch"> Ils vous ont liké
        </div>
        <div>

            <!-- Début cards section -->
    <!--
            <div class="card-deck pl-2 w-25">
                {#                {% for like in likes %}#}
                <div class="card mt-2 mb-2">
                    <img src="{{ asset('image/lisa.png') }}"
                         class="card-img-top img-responsive rounded-circle border border-primary mt-2  pt-1 pb-1 pr-1 pl-1 mx-auto"
                         alt="...">
                    <div class="card-body">
                        <h5 class="card-title text-center">{#  {{ candidat.membre.nom }} {{ candidat.membre.prenom }}</h5>#}
                            SIMPSON, Lisa
                            <h6 class="card-title text-center font-weight-light text-black-50">{#  {{ candidat.metier }}#}
                                Juriste en collectivité territoriale</h6>
                            <h6 class="card-title text-center font-weight-light text-black-50">{#                                , {{ candidat.membre.ville }}#}
                                Springfield
                                {#                                ,{{ candidat.membre.pays }}#} USA</h6>
                            <p class="card-text text-center">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            <p><a href="#" role="button"><i class="fas fa-plus-square fa-2x"></i></a></p>
                    </div>
                </div> -->
                {#                {% endfor %}#}
                 <!-- Fin cards section-->
            </div>

        </div>
    </div>
    {# Fin Zone Ils vous ont liké#}

    {# Début Zone Vos Likes#}
    <div class="mt-3 border-bottom-0 border-top-0 border-right-0 match-border-color rounded"
         style="background-color: #f9f9f9;">
        <div class="card-header font-weight-bolder zonetitle">
            <img src="{{ asset('image/like_thumb_up.png') }}" alt="" class="iconmatch"> Vos Likes
        </div>
        <div>
            <!-- Début cards section -->

            <div class="card-deck pl-2 w-25">
                {% for like in likes %}
                    <div class="card mt-2 mb-2">
                        <img src="{{ like.candidat.membre.photoProfil }}"
                             class="card-img-top img-responsive rounded-circle border border-primary mt-2  pt-1 pb-1 pr-1 pl-1 mx-auto"
                             alt="...">
                        <div class="card-body">
                            <h5 class="card-title text-center">{{ like.candidat.membre.nom }} {{ like.candidat.membre.prenom }}</h5>
                            <h6 class="card-title text-center font-weight-light text-black-50">{{ like.candidat.metier }}</h6>
                            <h6 class="card-title text-center font-weight-light text-black-50">{{ like.candidat.membre.ville }}, {{ like.candidat.membre.pays }}</h6>
                            <p class="card-text text-center">This is a longer card with supporting text below as a
                                natural lead-in to additional content. This content is a little bit longer.</p>
                            <p><a href="#" role="button"><i class="fas fa-plus-square fa-2x"></i></a></p>
                        </div>
                    </div>
                {% endfor %}
            </div> <!-- Fin container cards -->
            <!-- Fin cards section-->
        </div>
    </div>
    {# Fin Zone Vos Likes#}









{% endblock %}
