{% extends 'base.html.twig' %}

{#{% block stylesheets %}

<link rel="stylesheet" href="{{ asset('css/style.css') }}">
{% endblock %}#}

{% block title %}

    | Accueil
{% endblock %}


{% block body %}

    {#  ====== HEADER ========  #}
    <header class="banner_part">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 offset-lg-1">
                    <div class="banner_text">
                        <div class="banner_text_iner mx-auto mt-4 ">
                            <img class="logoHeader" src="{{ asset('image/Logo_AttracW_Header.png') }}" alt="logo attractiv work">
                            <h1>Trouvez le job qui vous correspond</h1>
                            <h5> identifier les bons profils pour un poste ou une mission en un coup d’œil.</h5>
                            <a href="#" class="btn btn-primary inscription" role="button">Inscription</a>
                            <a href="#" class="btn btn-primary connexion" role="button">Connexion</a>

                        </div>
                    </div>
                </div>
            </div>
        </div> {# div container#}
    </header>

    {#  ====== Main ========  #}

    <div class="row">
        <div class="col-lg-8 col-md-10 col-sm-12 ">
            <h2>Matchez avec votre vie professionnelle</h2>
            <hr>
            <p class="paraIntro">
                Toutes les connaissances que les hommes avaient mises
                sur Internet lui étaient accessibles. Les grandes bibliothèques du monde entier
                n’avaient plus de secret pour lui. Il pouvait apprendre très vite,
                beaucoup plus vite que n’importe quel humain.
            </p>
            <h3><img src="{{ asset('image/icon_card.png') }}" alt="">  &#8226;  Candidats</h3>
            <div class="card-columns">

                {# ========= Début card 1 - Candidat ============ #}
                <div class="card">
                    <a href="#" class="linkCard" style="text-decoration: none;">
                        <div class="card-body">
                        <img class="img-card-candi" src="{{ asset('image/39.jpg') }}" alt="image candidat">
                        <h5>Luke Chavez</h5>
                        <span class="spanCard">Architecte, Lyon</span>
                        <!-- Card content -->
                        <p class="paraCard">
                            Soudain, David eut une idée.
                            Mais elle ne pouvait pas connaître
                            les conséquences de ses actes.
                        </p>
                        <a href="#"><img class="iconPlus" src="{{ asset('image/icon_plus.png') }}" alt="image icone"></a>
                    </div>
                    </a>
                </div>
                {# ========= Fin card 1 - Candidat ============ #}

                {# ========= Début card 2 - Candidat ============ #}
                <div class="card">
                    <a href="#" class="linkCard" style="text-decoration: none;">
                        <div class="card-body">
                        <img class="img-card-candi" src="{{ asset('image/11.jpg') }}" alt="image candidat">
                        <h5>Miriam Patterson</h5>
                        <span class="spanCard">Conducteur de grue, Paris</span>
                        <!-- Card content -->
                        <p class="paraCard">
                            Soudain, David eut une idée.
                            Mais elle ne pouvait pas connaître
                            les conséquences de ses actes.
                        </p>
                        <a href="#"><img class="iconPlus" src="{{ asset('image/icon_plus.png') }}" alt="image icone"></a>
                    </div>
                    </a>
                </div>
                {# ========= Fin card 2 - Candidat ============ #}

                {# ========= Début card 3 - Candidat ============ #}
                <div class="card">
                    <a href="#" class="linkCard" style="text-decoration: none;">
                        <div class="card-body">
                        <img class="img-card-candi" src="{{ asset('image/71.jpg') }}" alt="image candidat">
                        <h5>Todd Peters</h5>
                        <span class="spanCard">Chauffagiste, Rennes</span>
                        <!-- Card content -->
                        <p class="paraCard">
                            Soudain, David eut une idée.
                            Mais elle ne pouvait pas connaître
                            les conséquences de ses actes.
                        </p>
                        <a href="#"><img class="iconPlus" src="{{ asset('image/icon_plus.png') }}" alt="image icone"></a>
                    </div>
                    </a>
                </div>
                {# ========= Fin card 3 - Candidat ============ #}
            </div>
            <h3 class="recruTitle"><img src="{{ asset('image/icon_Recru.png') }}" alt="">  &#8226;  Recruteurs</h3>
            <div class="card-columns">

                {# ========= Début card 1 - Recruteur ============ #}
                <div class="card recruteurCard">
                    <a href="#" class="linkCard" style="text-decoration: none;">
                        <div class="card-body">
                        <img class="img-card-recru" src="{{ asset('image/18.jpg') }}" alt="image recruteur">
                        <h5>Leah Wood</h5>
                        <span class="spanCard">Immobilier, Grenoble</span>
                        <!-- Card content -->
                        <p class="paraCard">
                            Soudain, David eut une idée.
                            Mais elle ne pouvait pas connaître
                            les conséquences de ses actes.
                        </p>
                        <a href="#"><img class="iconPlus" src="{{ asset('image/icon_plus-violet.png') }}" alt="image icone"></a>
                    </div>
                    </a>
                </div>
                {# ========= Fin card 1 - Recruteur ============ #}

                {# ========= Début card 2 - Recruteur ============ #}
                <div class="card recruteurCard">
                    <a href="#" class="linkCard" style="text-decoration: none;">
                        <div class="card-body">
                        <img class="img-card-recru" src="{{ asset('image/73.jpg') }}" alt="image recruteur">
                        <h5>Max Banks</h5>
                        <span class="spanCard">Informatique, Nice</span>
                        <!-- Card content -->
                        <p class="paraCard">
                            Soudain, David eut une idée.
                            Mais elle ne pouvait pas connaître
                            les conséquences de ses actes.
                        </p>
                        <a href="#"><img class="iconPlus" src="{{ asset('image/icon_plus-violet.png') }}" alt="image icone"></a>
                    </div>
                    </a>
                </div>
                {# ========= Fin card 2 - Recruteur ============ #}

                {# ========= Début card 3 - Recruteur ============ #}
                <div class="card recruteurCard">
                    <a href="#" class="linkCard" style="text-decoration: none;">
                        <div class="card-body">
                        <img class="img-card-recru" src="{{ asset('image/81.jpg') }}" alt="image recruteur">
                        <h5>Laurie Hicks</h5>
                        <span class="spanCard">Agroalimentaire, Lorient</span>
                        <!-- Card content -->
                        <p class="paraCard">
                            Soudain, David eut une idée.
                            Mais elle ne pouvait pas connaître
                            les conséquences de ses actes.
                        </p>
                        <a href="#"><img class="iconPlus" src="{{ asset('image/icon_plus-violet.png') }}" alt="image icone"></a>
                    </div>
                    </a>
                </div>
                {# ========= Fin card 3 - Recruteur ============ #}
            </div>

            {#  ====== FOOTER ========  #}

        </div> {# div col #}
    </div> {# row #}
    <footer>
    <div class="row">
        <div class="col-lg-12 col-sm-12">
        <hr class="footerHR">
        <div class="footer">
            <div class="logoFooter">
                <img class="imageFooter1" src="{{ asset('image/Logo_AttracW_footer.png') }}" alt="logo attractiv work">
                <div class="reseauxS">
                <img class="imageFooter" src="{{ asset('image/icone_twitter.png') }}" alt="logo attractiv work">
                <img class="imageFooter" src="{{ asset('image/icone_facebook.png') }}" alt="logo attractiv work">
                </div>
            </div>
            <ul>
                <li><a href="#">Informations légales</a></li>
                <li><a href="#">Conditions générales d’utilisation</a></li>
                <li><a href="#">Politique de confidentialité</a></li>
                <li><a href="#">Politique relative aux cookies</a></li>
            </ul>

            <ul>
                <li><a href="#">Recruteurs</a></li>
                <li><a href="#">Candidats</a></li>
                <li><a href="#">Carrières</a></li>
                <li><a href="#">Salaire</a></li>
            </ul>

            <ul class="lastLi">
                <li><a href="#">Contact</a></li>
                <li><a href="#">Déposer son CV</a></li>
                <li><a href="#">Les 16 personnalités</a></li>
                <li><a href="#">À propos</a></li>
            </ul>

        </div>

        </div> {# col footer #}
    </div> {# row footer #}
    </footer>
{% endblock %}

