{% extends 'base.html.twig' %}

{% block title %}Hello MembreController!{% endblock %}

{% block stylesheets %}
{{ parent() }}
<style>
    img{
        width: 100px;
        height: 100px;
    }
</style>
{% endblock %}

{% block body %}
{% include 'backoffice/navbar.html.twig' %}

<a class="btn btn-success" href="{{ path('membre_add') }}">Ajouter un membre</a>
<a class="btn btn-info" href="{{ path('candidat') }}">Afficher les candidats</a>
<a class="btn btn-info" href="{{ path('recruteur') }}">Afficher les recruteurs</a>
<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>personnalité</th>
            <th>nom</th>
            <th>prenom</th>
            <th>email</th>
            <th>ville</th>
            <th>pays</th>
            <th>photo de profil</th>
            <th>description</th>
            <th>statut</th>
            <th>date inscription</th>
            <th>role</th>
            <th>option</th>
        </tr>
    </thead>

    <tbody>
        {# Pour chaque membre #}
        {% for membre in membres %}
        <tr>
            <th>{{ membre.id }}</th>
            <td>{{ membre.personnalite.nom }}</td>
            <td>{{ membre.nom }}</td>
            <td>{{ membre.prenom }}</td>
            <td>{{ membre.email }}</td>
            <td>{{ membre.ville }}</td>
            <td>{{ membre.pays }}</td>
            <td><img src="{{ membre.photoProfil }}" alt="{{ membre.descriptionPhoto }}"></td>
            <td>{{ membre.description }}</td>
            <td>{{ membre.statut }}</td>
            <td>{{ membre.roleEmploi }}</td>
            <td>{{ membre.dateInscription|date('j/m/Y') }}</td>
            <td>
                <a class="btn btn-primary" href="{{ path('membre_edit', { 'id' : membre.id }) }}">Modifier le membre</a>
                <a class="btn btn-danger" href="{{ path('membre_delete', { 'id' : membre.id }) }}">Supprimer le membre</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
