{% extends 'base.html.twig' %}

{% block title %}Hello LikeController!{% endblock %}

{% block body %}
{% include 'backoffice/navbar.html.twig' %}

<a class="btn btn-info" href="{{ path('match') }}">Liste des match</a>
<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>candidat</th>
            <th>recruteur</th>
            <th>role</th>
            <th>date</th>
            <th>
                <a class="btn btn-success" href="{{ path('like_add') }}" role="button">Ajouter un like</a>
            </th>
        </tr>
    </thead>

    <tbody>
        {# Pour chaque like #}
        {% for like in likes %}

        <tr>
            <th>{{ like.id }}</th>
            <td>{{like.candidat.id}} - {{ like.candidat.membre.nom }} {{ like.candidat.membre.prenom }}</td>
            <td>{{like.recruteur.id}} - {{ like.recruteur.membre.nom }} {{ like.recruteur.membre.prenom }}</td>
            <td>{{ like.roleLike}}</td>
            <td>{{ like.dateLike|date('j/m/Y h:m:s') }}</td>
            <td><a class="btn btn-primary" href="{{ path('like_edit', { 'id' : like.id })  }}" role="button">Modifier ce like</a></td>
            <td><a class="btn btn-danger" href="{{ path('like_delete', { 'id' : like.id })  }}" role="button">Supprimer ce like</a></td>
        </tr>


        {% endfor %}
    </tbody>
</table>
{% include 'footer/index.html.twig' %}
{% endblock %}
