{% extends 'base.html.twig' %}

{% block title %}Hello MatchController!{% endblock %}

{% block body %}
<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>candidat</th>
            <th>recruteur</th>
            <th>date</th>
            <th>
                <a class="btn btn-success" href="{{ path('match_add') }}" role="button">Ajouter un match</a>
            </th>
        </tr>
    </thead>

    <tbody>
        {# Pour chaque match #}
        {% for match in matchs %}
        <tr>
            <th>{{ match.id }}</th>
            <td>{{ match.candidat.membre.nom }} {{ match.candidat.membre.prenom }}</td>
            <td>{{ match.recruteur.membre.nom }} {{ match.recruteur.membre.prenom }}</td>
            <td>{{ match.dateMatch|date('j/m/Y h:m:s') }}</td>
            <td><a class="btn btn-primary" href="{{ path('match_edit', { 'id' : match.id })  }}" role="button">Modifier ce match</a></td>
            <td><a class="btn btn-danger" href="{{ path('match_delete', { 'id' : match.id })  }}" role="button">Supprimer ce match</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
