{% extends 'base.html.twig' %}

{% block title %}Hello PersonnaliteController!{% endblock %}

{% block body %}
    <table class="table">
        <thead>

        <tr>
            <th>Id</th>
            <th>Nom</th>
            <th>Reference</th>
            <th>Catégorie</th>
            <th>Description</th>
        </tr>
        </thead>

        <tbody>
        {% for personnalite in personnalites %}
         <tr>
            <td>{{ personnalite.id }}</td>
            <td>{{ personnalite.nom }}</td>
            <td>{{ personnalite.reference }}</td>
            <td>{{ personnalite.categorie }}</td>
            <td>{{ personnalite.description }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
