{% extends 'base.html.twig' %}

{% block title %}Hello PersonnaliteController!{% endblock %}

{% block body %}
{% include 'backoffice/navbar.html.twig' %}

    <table class="table">
        <thead class="thead-dark">

        <tr>
            <th>Id</th>
            <th>Nom</th>
            <th>Reference</th>
            <th>Catégorie</th>
            <th>Description</th>
            <th>Options</th>

        </tr>
        </thead>

        <tbody>
        {% for personnalite in personnalites %}
            <tr scope="row">
                <td scope="row">{{ personnalite.id }}</td>
                <td scope="row">{{ personnalite.nom }}</td>
                <td scope="row">{{ personnalite.reference }}</td>
                <td scope="row">{{ personnalite.categorie }}</td>
                <td scope="row">{{ personnalite.description }}</td>
                <td scope="row"><a class="btn btn-primary" href="{{ path('personnalite_edit', {'id' : personnalite.id }) }}"
                       role="button"> Modifier</a></td>
                <td><a class="btn btn-danger" href="{{ path('delete_personnalite', {'id' : personnalite.id }) }}"
                       role="button">Supprimer</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('personnalite_add') }}"><button type="button" class="btn btn-info">Ajouter une personnalité</button></a>
{% endblock %}
