{% extends 'base.html.twig' %}

{% block title %}Page des Recruteurs{% endblock %}

{% block body %}
{% include 'backoffice/navbar.html.twig' %}

    <a class="btn btn-success" href="{{ path('membre_add') }}" role="button"> Ajouter un recruteur</a>
    <a class="btn btn-info" href="{{ path('membre') }}" role="button"> Retour aux membres</a>
    <a class="btn btn-info" href="{{ path('offre') }}" role="button"> Liste des offres</a>

    <table class="table">
        <thead>
        <tr>
            <th>
                id
            </th>
            <th>
                Membre id
            </th>
            <th>
                Nombre d'employé
            </th>
            <th>
                Secteur d'activité
            </th>
            <th>
                Logo entreprise
            </th>
            <th>
                Nom de l'entreprise
            </th>
        </tr>
        </thead>

        <tbody>
        {% for recruteur in recruteurs %}
            <tr>
                <td>{{ recruteur.id }}</td>
                <td>{{ recruteur.membre.id }}</td>
                <td>{{ recruteur.nbrEmploye }}</td>
                <td>{{ recruteur.secteurActivite }}</td>
                <td><img src="{{ recruteur.logoEntreprise }}" alt="{{ recruteur.descriptionLogo }}"></td>
                <td>{{ recruteur.nomEntreprise }}</td>
                <td><a class="btn btn-primary" href="{{ path('recruteur_edit', {'id' : recruteur.id }) }}" role="button"> Modifier</a></td>
                <td><a class="btn btn-danger" href="{{ path('delete_recruteur', {'id' : recruteur.id }) }}" role="button">Supprimer</a></td>
            </tr>

        {% endfor %}
        </tbody>
    </table>
    {% include 'footer/index.html.twig' %}
{% endblock %}
