{% extends 'base.html.twig' %}

{% block title %}Candidats{% endblock %}

{% block body %}

{% include 'backoffice/navbar.html.twig' %}

<a href="{{ path('membre_add') }}"><button type="button" class="btn btn-success">Ajouter un candidat</button></a>
<a class="btn btn-info" href="{{ path('membre') }}" role="button"> Retour aux membres</a>

<table class="table">
    <thead>
        <tr>
            <th>
                id
            </th>
            <th>
                Membre id
            </th>
            <th>
                Date de naissance
            </th>
            <th>
                Telephone
            </th>
            <th>
                Autre fichier
            </th>
            <th>
                Atout
            </th>
            <th>
                Site web
            </th>
            <th>
                Salaire
            </th>
            <th>
                Date de disponibilité
            </th>
            <th>
                Type de contrat
            </th>
            <th>
                Métier
            </th>
            <th>
                Année d'expérience
            </th>
            <th>
                Langue parlée
            </th>
        </tr>
    </thead>

    <tbody>
    {% for candidat in candidats %}
        <tr>
            <td>{{ candidat.id }}</td>
            <td>{{ candidat.membre.id }}</td>
            <td>{{ candidat.dateNaissance|date("m/d/Y") }}</td>
            <td>{{ candidat.telephone }}</td>
            <td>{{ candidat.autreFichier }}</td>
            <td>{{ candidat.atout }}</td>
            <td><a href="{{ candidat.siteWeb }}">{{ candidat.siteWeb }}</a></td>
            <td>{{ candidat.salaire }}</td>
            <td>{{ candidat.dateDisponibilite|date("m/d/Y") }}</td>
            <td>{{ candidat.typeContrat }}</td>
            <td>{{ candidat.metier }}</td>
            <td>{{ candidat.anneeExperience }}</td>
            <td>{{ candidat.langueParlee }}</td>
            <td><a class="btn btn-primary" href="{{ path('candidat_edit', { 'id' : candidat.id })  }}" role="button">Modifier ce candidat</a></td>
            <td><a class="btn btn-danger" href="{{ path('candidat_delete', { 'id' : candidat.id })  }}" role="button">Supprimer ce candidat</a></td>
            <td>
                    <a href="{{ path('candidat_edit', { 'id' : candidat.id }) }}"><i class="fas fa-pen"></i></a>
                    <a href="{{ path('candidat_delete', { 'id' : candidat.id }) }}"><i class="fas fa-trash-alt"></i></a>
                </td>
        </tr>

    {% endfor %}
    </tbody>
</table>
{% endblock %}
