{% extends 'base.html.twig' %}

{% block title %}Hello ProfilDetailsRecruteurController!{% endblock %}

{% block body %}
	{% include 'navbar_candidat/index.html.twig' %}
<style>

	.photoProfil{
		max-width: 300px;
		max-height: 300px;
		border-radius: 50%;
		padding: 4px;
		border: solid 3px #b13f9a;
	}

	.photoEnt{
		max-width: 100px;
		max-height: 100px;
		border-radius: 50%;
		padding: 3px;
		border: solid 3px #b13f9a;
	}

	.colorTitle{
		color: #b13f9a;
	}

	hr{
		color: #b13f9a;
	}

	.iconColor{
		color: #b3e0ff;
	}

	a{
  		color: black;
	}

	.divCV{
		border-left: 2px solid #b13f9a;
		
	}

	.textColor{
		color: black;
	}
    
</style>

<div class="mx-5">

	<div class="text-center">
		<img src="{{ recruteur.membre.photoProfil }}" alt="{{ recruteur.membre.descriptionPhoto }}" class="photoProfil img-fluid">
		<h1>{{ recruteur.membre.prenom }} {{ recruteur.membre.nom }}</h1>
	</div>

	<div class="d-flex">

		<div class="text-center list-group list-group-flush col-3 mt-5 flex-fill">

			<h4 class="colorTitle">Informations générales</h4>
			<ul class="p-0 textColor">
				<li class="list-group-item">Email: {{ recruteur.membre.email }}</li>
				<li class="list-group-item">{{ recruteur.membre.ville }} {{ recruteur.membre.pays }}</li>
			</ul>

			<hr class="my-5">

			<h4 class="colorTitle">Informations professionnelles</h4>
			<ul class="p-0 textColor">
				<img src="{{ recruteur.logoEntreprise }}" alt="{{ recruteur.descriptionLogo }}" class="photoEnt img-fluid mb-2">
				<li class="list-group-item">{{ recruteur.nomEntreprise }}</li>
				<li class="list-group-item">Secteur d'activité: {{ recruteur.secteurActivite }}</li>
			</ul>

		</div>	

		<div class="col-8 mt-5 flex-fill divCV">

			

			<h3 class="mb-5"><a href="{{ path('personnalite_details', { 'id' : recruteur.membre.personnalite.id, 'role' : 'recruteur'}) }}">{{ recruteur.membre.personnalite.nom }}</a></h3>

			<h3 class="my-5 colorTitle">Description</h3>
			<p class="text-justify">{{ recruteur.membre.description }}</p>
			
		</div>

	</div>	
</div>
{% include 'footer/index.html.twig' %}
{% endblock %}
