{% extends 'base.html.twig' %}

{% block title %}Hello MessageController!{% endblock %}

{% block body %}
{% include 'backoffice/navbar.html.twig' %}

<a href="{{ path('message_add') }}"><button type="button" class="btn btn-success">Ajouter un message</button></a>
<a class="btn btn-info" href="{{ path('match') }}">Liste des match</a>
<table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>candidat</th>
                <th>recruteur</th>
                <th>message</th>
                <th>date message</th>
                <th>Options</th>
            </tr>
        </thead>
    
        <tbody>
            {# Pour chaque membre #}
            {% for message in messages %}
            <tr>
                <th>{{ message.id }}</th>
                <td>{{ message.candidat.membre.nom }} {{ message.candidat.membre.prenom }}</td>
                <td>{{ message.recruteur.membre.nom }} {{ message.recruteur.membre.prenom }}</td>
                <td>{{ message.message }}</td>
                <td>{{ message.dateMessage|date('j/m/Y') }}</td>
                <td>
                    <a href="{{ path('message_edit', { 'id' : message.id }) }}"><i class="fas fa-pen"></i></a>
                    <a href="{{ path('message_delete', { 'id' : message.id }) }}"><i class="fas fa-trash-alt"></i></a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% include 'footer/index.html.twig' %}
{% endblock %}
